ion-toolbar {
    background-color: var(--ion-color-mycolor);
}

.search-bar-toolbar {
    text-align: center;
}


.car-card {
    
}



.card-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}   