ion-toolbar {
    background-color: var(--ion-color-mycolor);
}

.car-col {

}

.car-card {
    
}

.card-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card-title {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}   