<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="6" *ngFor="let car of cars" class="car-col">
      <ion-card class="car-card" (click)="showAlert2()" [routerLink]="['/car', car.id]">
        <img src="{{ car.imgUrl }}" class="card-image">
        <div class="card-title">
          <p>{{ car.brand }} {{ car.model }}</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
